@import "tailwindcss";

html {
  margin: 0;
  max-width: 100vw;
}

li {
  list-style: none;
}

main {
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.subtitle {
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

#checkout-progress-bar {
  position: relative;
  z-index: 30;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step {
  position: relative;
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  border: 1px solid;
  border-radius: 1.5rem;
  background-color: white;
  z-index: 20;
  font-weight: 700;
  overflow: hidden;
}

.progress-label {
  font-size: 12px;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-field1 {
  padding: 0.75rem;
  border-radius: 0.75rem;
  outline: solid 1 #737373;
}
.input-field1:focus {
  outline: solid 2 #737373;
}

.input-field2 {
  border-radius: 0.75rem;
  outline: solid 1 #737373;
}
.input-field2:focus {
  outline: solid 2 #737373;
}

.btn1 {
  color: white;
  background-color: black;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.btn1:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 150ms;
}

.radio1 {
  accent-color: black;
  width: 1.6rem;
  height: 1.6rem;
}
