@import "tailwindcss";

html {
  margin: 0;
}

li {
  list-style: none;
}

main {
  min-height: 100vh;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.subtitle {
  font-size: 12px;
  font-weight: bold;
  color: gray;
}
